body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #920000;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: indigo;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;

}
.container {
    width: 80%;
    margin: 0 auto;
}


header {
    background-color: #42008d;
    color: white;
    padding: 0.5px 10px;
}

nav {
    background-color: #ddd;
    padding: 0px 0;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

footer {
    background-color: #210146;
    color: white;
    text-align: center;
    padding: 10px 0;
}

ul {
    color: silver;
    background-color: #00788d;
    text-decoration: none;
}

